:root {
  --accent-color: #f62f2f;
  --base-color: #f8f7f2;
  --text-color: #2E2B41;
  --hov-color: rgba(248, 63, 63, 0.233);
  --shadow-color: rgba(0, 0, 0, 0.2); /* Light mode shadow */
}

.dark-theme {
  --base-color: #0b061f;
  --text-color: #fff;
  --hov-color: rgba(255, 255, 255, 0.233);
  --shadow-color: rgba(255, 0, 0, 0.5); /* Dark mode shadow */
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--base-color);
  color: var(--text-color);
  overflow-x: hidden;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px var(--shadow-color), 0px 1px 3px var(--shadow-color);
  z-index: 1;
  background-color: var(--base-color);
  transition: box-shadow 0.3s ease;
}

nav.scrolled {
  box-shadow: 0px 4px 8px var(--shadow-color), 0px 3px 6px var(--shadow-color);
}

nav .logo {
  display: flex;
  align-items: center;
  flex: 1;
}

nav .logo img {
  height: 30px;
  width: auto;
  margin-right: 15px;
}

nav .logo h1 {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--text-color);
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 0.5rem;
  flex: 0 0 auto;
}

nav ul li {
  margin-left: 1rem;
}

nav ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
  color: var(--text-color);
  padding: 8px 16px;
  border-radius: 5px;
  transition: all 0.3s ease;
  height: 48px;
}

nav ul li a i {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
.sun-moon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  cursor: pointer;  /* Makes the icon look clickable */
  transition: transform 0.3s ease;
}

.sun-moon i {
  font-size: 1.5rem; /* Adjust the size of the icon */
  transition: transform 0.3s ease, color 0.3s ease;
}

#logo-name span {
  display: inline-block;
  font-size: inherit;
  transition: transform 0.5s ease, color 0.5s ease;
}

#logo-name span.animate {
  animation: jumpRotateZ 1s ease forwards;
}

@keyframes jumpRotateZ {
  0% {
    transform: translateY(0) rotateZ(0deg);
    color: var(--text-color);
  }
  30% {
    transform: translateY(-15px) rotateZ(180deg);
    color: var(--accent-color);
  }
  70% {
    transform: translateY(-15px) rotateZ(360deg);
    color: var(--accent-color);
  }
  100% {
    transform: translateY(0) rotateZ(360deg);
    color: var(--text-color);
  }
}

/* Remove section colors */
.section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

footer {
  background-color: var(--base-color);
  color: var(--text-color);
  padding: 20px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 -2px 5px var(--shadow-color);
}

footer p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

footer ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 25px;
}

footer ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  transition: color 0.3s ease;
}

footer ul li a:hover {
  color: var(--accent-color); /* Accent color on hover for footer links */
}

footer ul li a:focus {
  outline: none;
}

@media screen and (max-width: 790px) {
  footer {
    flex-direction: column;
    text-align: center;
  }

  footer ul {
    margin-top: 10px;
  }

  footer p {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 790px) {
  nav ul {
    display: none;
  }
}
