:root {
    --accent-color: #f62f2f;
    --base-color: #f6f6f6;
    --text-color: #333;
    --hov-color: rgba(248, 63, 63, 0.233);
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --form-bg-color: rgba(255, 255, 255, 0.9);
  }
  
.dark-theme {
    --base-color: #212121;
    --text-color: #fdfdfd;
    --hov-color: rgba(255, 255, 255, 0.233);
    --shadow-color: rgba(255, 0, 0, 0.5);
    --form-bg-color: #212121;
  }
  
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
html {
    scroll-behavior: smooth;
  }
  
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: var(--base-color);
    color: var(--text-color);
    overflow-x: hidden;
  }
  
::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-thumb {
    background: var(--accent-color); 
    border-radius: 3px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: rgba(248, 63, 63, 0.9);
  }
  
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 5px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    background-color: var(--base-color);
    transition: box-shadow 0.3s ease;
  }
  
nav.scrolled {
    box-shadow: 0px 4px 8px var(--shadow-color), 0px 3px 6px var(--shadow-color);
  }
  
nav .logo {
    display: flex;
    align-items: center;
    flex: 1;
  }
  
nav .logo img {
    height: 30px;
    width: auto;
    margin-right: 15px;
  }
  
nav .logo h1 {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--text-color);
  }
  
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
    flex: 0 0 auto;
  }
  
nav ul li {
    margin-left: 1rem;
  }
  
nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 16px;
    border-radius: 5px;
    transition: all 0.3s ease;
    height: 48px;
  }
  
nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background-color: var(--text-color);
    transform: scaleX(0);
    transition: transform 0.3s ease, background-color 0.3s ease;
    transform-origin: right;
  }
  
nav ul li a.active {
    color: var(--accent-color);
  }
  
nav ul li a.active::after {
    transform: scaleX(1);
    background-color: var(--accent-color);
    transform-origin: left;
  }
  
nav ul li a i {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
  }
  
.sun-moon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
.sun-moon i {
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
  }
  

#logo-name span {
    display: inline-block;
    font-size: inherit;
    transition: transform 0.5s ease, color 0.5s ease;
  }
  
#logo-name span.animate {
    animation: jumpRotateZ 1s ease forwards;
  }
  
@keyframes jumpRotateZ {
    0% {
      transform: translateY(0) rotateZ(0deg);
      color: var(--text-color);
    }
    30% {
      transform: translateY(-15px) rotateZ(180deg);
      color: var(--accent-color);
    }
    70% {
      transform: translateY(-15px) rotateZ(360deg);
      color: var(--accent-color);
    }
    100% {
      transform: translateY(0) rotateZ(360deg);
      color: var(--text-color);
    }
  }
